<nav class="sectionTwo navbar navbar-expand-lg bg-transparent">
    <div class="container">
        <a class="navbar-brand text-white" href="/">Alejandro Cáceres</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-0 row justify-content-center" id="navbarNav">
        <ul class="navbar-nav col-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/about">About Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
            <i class="fa-brands fa-linkedin fa-lg"></i>
            <i class="fa-brands fa-facebook fa-lg mx-3"></i>
            <i class="fa-brands fa-github fa-lg"></i>
    </div>
</nav>